{
    "extends": "airbnb-base",
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    },
    "plugins": [
        "mocha"
    ],
    "rules": {
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "func-names": "off",
        "no-param-reassign": "off",
        "max-len": "off",
        "indent": ["error", 4, {
            "SwitchCase": 1
        }],
        "no-restricted-syntax": "off",
        "no-shadow": "off",
        "no-mixed-operators": "off",
        "no-cond-assign": "off",
        "no-continue": "off"
    }
}